!!!
%html
  %head
    %title Chocolate Store
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = favicon_link_tag 'favicon.ico'
        
  %body{class: params[:controller].gsub("/", "-")}
    %header{style: "max-height: 100px;"}
      = link_to root_path do
        = image_tag "logo.jpg", style: "height: 100px;"
      .pull-right{style: "margin-right: 15px; margin-top: 40px;"}
        -if @cart.present?
          = link_to "Cart (#{number_to_currency @cart.total_price})", @cart, class: "btn btn-info"
    .container-fluid.margin-top-100
      = yield

      %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
        var string = "#{(j (yield :scripts))}";
        eval(string);
        window.starterkitrails.shared.init();
    = render 'shared/flash_notice'
